*{
  margin: 0;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
  padding: 20px;

  background-color:antiquewhite;
}

header img{
  width: 100px;
}

nav{
  display: flex;
  gap: 30px;
}

nav a{
  text-decoration: none;
  color: black;
}